.transformed {
    background: rgba(104, 159, 56, 0.15) !important;
    border-left: 3px solid #689f38 !important;
    transition: all 0.3s ease;
}

.transform-button:hover {
    color: #689f38 !important;
}

.revert-button {
    color: #d32f2f !important;
}

.revert-button:hover {
    color: #ff6659 !important;
}
